<!DOCTYPE html>
<html>
  <head>
    <title>C&B Abogados</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  	<!-- Navigation -->
    <%= link_to root_path, :class => "brand", :title => "C&B Abogados" do %>
      <%= image_tag "logo-cb-abogados.png", :alt => "C&B Abogados", :class => "", :width => "100" %>
    <% end %>

    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="glyphicon glyphicon-th"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="glyphicon glyphicon-th"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Menú</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#services" onclick=$("#menu-close").click();>Nuestros Servicios</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>Sobre Nosotros</a>
            </li>
            <li>
                <a href="#testimonios" onclick=$("#menu-close").click();>Testimonios</a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>Contactanos</a>
            </li>
        </ul>
    </nav>

    <%= yield %>
  </body>
</html>
